* {
    -primary-color: #1FDF64;
    -button-color: #d1d1d1;
    -black-color: #000;
    -white-color: #fff;
    -playlist-color: #1a1a1a;
    -playlist-hover-color: #272727;
    -content-page-color: #121212;
    -music-player-color: #181818;
    -user-menu-avatar-bg-color: #282828;
    -playlist-page-content-color: #0F151D;
    -playlist-text-theme-color: #b3b3b3;
    -fx-font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic";
}

.button {
    -fx-background-color: -black-color;
    -fx-text-fill: -button-color;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-font-style: normal;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: -white-color;
}

#sideBar {
    -fx-background-color: -black-color;

}

.home-content-pane {
    -fx-background-color: transparent;
}

.content-pane {
    -fx-background-color: -content-page-color;
}

.music-media-player, .media-player-btn {
    -fx-background-color: -music-player-color;
}

.media-player-btn:hover {
    -fx-opacity: 0.9;
}

.song-name-corner {
    -fx-font-size: 18px;
    -fx-font-weight: 500;
    -fx-text-fill: -white-color;
}

.artist-name-corner {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: -playlist-text-theme-color;
}

.duration {
    -fx-font-size: 11px;
    -fx-font-weight: 400;
    -fx-text-fill: #a7a7a7;
    -fx-alignment: center;
}

.progress-bar {
    -fx-alignment: center;
    -fx-accent: #1DB954;
}

.slider-progress-bar .track {
     -fx-background-color:null;  /* Hide the track */
     -fx-background-insets: 1 0 -1 0, 0, 1;
     -fx-background-radius: 2.5, 2.5, 1.5;
     -fx-padding: 0.208333em; /* 2.5 */
}

.navbar {
    -fx-background-color: -black-color;
}

.management-btn {
    -fx-text-fill: -button-color;

}

.management-btn:hover {
    -fx-text-fill: -white-color;

}

.user-menu {
    -fx-background-color: -user-menu-avatar-bg-color;
}

.user-menu .label {
    -fx-text-fill: -white-color;
    -fx-font-weight: 400;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

.menu-item .label {
    -fx-text-fill: -white-color;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-padding: 4;
}

.menu-item:focused {
     -fx-background-color: #3E3E3E;
     -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: -black-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
    -fx-translate-X: -50;
}

.playlist-field {
    -fx-alignment: center;
}

.banner {
    -fx-padding: 160;
}

.playlist {
    -fx-background-color: -playlist-color;
    -fx-background-radius: 5px;
    -fx-position-shape: true;
    -fx-padding: 14;
    -fx-cursor: hand;
}

.playlist:hover {
    -fx-background-color: -playlist-hover-color;
}

.topic-playlist, .playlist-name {
    -fx-text-fill: -white-color;
}

.topic-playlist {
    -fx-font-weight: 700;
    -fx-font-size: 24px;
    -fx-padding: 34;
    -fx-translate-Y: -24;
}

.playlist-tray {
    -fx-padding: 50;
    -fx-translate-Y: -100;
}

.playlist-name {
    -fx-font-weight: 700;
    -fx-font-size: 16px;
}

.artist-playlist {
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-text-fill: #b3b3b3;
}

.img-playlist {
    -fx-padding: 4;
    -fx-background-color: -white-color;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}


